Package: carrier-super-node
Version: 6.0-0+deb9u1
Section: java, net
Priority: optional
Architecture: all
Maintainer: Elastos Trinity <contact@trinity-tech.io>
Installed-Size: 80000
Pre-Depends: adduser
Depends: lsb-base (>= 3.0), init-system-helpers (>= 1.18~), libc6 (>= 2.14), libsystemd0, libsodium23, openjdk-11-jre-headless | openjdk-11-jre | openjdk-13-jre-headless | openjdk-13-jre | openjdk-17-jre-headless | openjdk-17-jre
Homepage: https://elastos.org/
Description: Elastos Carrier Super Node
 Elastos Carrier is a decentralized DHT network and federated service framework.
 .